body {
	padding-left: 0em;
  font-family: Arial;
  color: #190707;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  line-height: 1.5;
  background-image: url(just4you_smar_freebie7.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.estilo1 {
	vertical-align: middle;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    width: 350px;
	height: 100%;
    background-color: #1883ba;
    border-radius: 15px;
    border: 2px solid #0016b0;
  }
.estilo1: hover{
background: rgba(0,0,0,0);
color: #000000;
box-shadow: inset 0 0 0 3px #FFFFF0;
  }